header {
    background-color: #439a6d;
    height: 60px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    
}