<div class="search-pokemon">
  <div className="poke-logo">
  <img id="logo" src="../assets/img/logo.png" alt="PokéAPI Logo" />
</div>
  
<input id="searchbox" type="text" placeholder="Search for a pokemon" #searchTerm/>
<button id="searchbutton" (click)="searchBySearchTerm(searchTerm.value)">Search</button>
  

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
  <div class="pokemon-grid">

    <div class="box" *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 50, currentPage: page, totalItems: totalPokemons}">
      <img [src]="pokemon.sprites.front_default" alt="pokemon image" />
      <h3> {{ pokemon.name }} </h3>
      <p> 
        <b>Type:</b> {{ pokemon.types[0].type.name }} 
      </p>
      <p> 
        <b>Health:</b> {{ pokemon.stats[0].base_stat }} HP</p>
      <p> 
        <b>Attack power:</b> {{ pokemon.stats[1].base_stat }} HP </p>
      <p> 
        <b>Height:</b> {{ pokemon.height }} inches</p>

    </div>


  </div>
  <pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>


<!--       
      <div className="card-header">
        <h4 className="card-title"> Pokemon List </h4>
      </div>
      <pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
      <div className="card-body" *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons}">

                <th> Name </th>
                <th> Type </th>
                <th> Health </th>
                <th> Attack Power </th>
                <th> Height </th>
                <th> Image </th>

              <tr *ngFor="let pokemon of pokemons">
                <td> {{ pokemon.name }} </td>
                <td> {{ pokemon.types[0].type.name }} </td>
                <td> {{ pokemon.stats[0].base_stat }} HP</td>
                <td> {{ pokemon.stats[1].base_stat }} HP </td>
                <td> {{ pokemon.height }} inches</td>
                <td> <img [src]="pokemon.sprites.front_default" alt="pokemon image" /> 
  
  <pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>


</div> -->

